@import "tailwindcss";

:root {
  --background: #ebe9e9;
  --foreground: #000000;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-gal: var(--font-galada);
  --font-gab: var(--font-gabarito)
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.swiper {
@apply w-full max-w-sm p-3;
}

.swiper-slide {
  @apply bg-black flex items-center justify-center rounded-xl overflow-hidden p-3;
}

